<div style='font-family: Arial, sans-serif; text-align: center; background-color: #e6ffe6; padding: 20px; display: flex; align-items: center; justify-content: center; height: "& Self.Height-1&"px;'>
  <div style=' margin: auto; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px #ccc; background: white; color: #2d862d;'>
    <h2 style='color: #2d862d; padding-bottom: 20px;'>Analyse de la Plante</h2>
    <span style='font-size: 18px; padding: 10px 20px; border-radius: 5px; background-color: #5cb85c; color: white;'>
        État : {{ status }}
    </span>

    <div style='text-align: left; margin-top: 20px;'>
        <h4 style='color: #2d862d;'>Diagnostic :</h4>
        <p>{{ diag }}</p>
    </div>
    <div style='text-align: left; margin-top: 20px;'>
      <h4 style='color: #ff8000;'>Recommandations :</h4>
      <p>{{ Recommandations }}</p>
  </div>
</div>


