<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse de la Plante</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 40px;
      background-color: #e6ffe6;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #ccc;
        background: white;
        color: #2d862d;
      "
    >
      <h2 style="color: #2d862d">Analyse de la Plante</h2>
      <span
        style="
          font-size: 18px;
          padding: 10px 20px;
          border-radius: 5px;
          background-color: #5cb85c;
          color: white;
        "
        >État : Bonne Santé</span
      >
      <div style="text-align: left; margin-top: 20px">
        <h4 style="color: #2d862d">Diagnostic :</h4>
        <p>{{ diag }}</p>
      </div>
    </div>
  </body>
</html>
