<div style='font-family: Arial, sans-serif; text-align: center; background-color:#fff0e6; padding: 20px; display: flex; align-items: center; justify-content: center; height: "& Self.Height-1&"px;'>
  <div style='margin: auto; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px #ccc; background: white; color: #ff8000;'>
      <h2 style='color: #ff8000; padding-bottom: 20px;'>Analyse de la Plante</h2>
      <span
          {% if badgeColor == 'Malade' %}
          style='font-size: 18px; padding: 10px 20px; border-radius: 5px; color: white; background-color: #ff9800; margin-top: 100px;'
          {% else %}
          style='font-size: 18px; padding: 10px 20px; border-radius: 5px; color: white; background-color: #d9534f;'
          {% endif %}
      >
          État : {{ status }}
      </span>.

      <div style='text-align: left; margin-top: 20px;'>
          <h4 style='color: #ff8000;'>Diagnostic :</h4>
          <p>{{ diag }}</p>
      </div>

      <div style='text-align: left; margin-top: 20px;'>
          <h4 style='color: #ff8000;'>Solution :</h4>
          <p>{{ solution }}</p>
      </div>
  </div>
</div>
